In [1]:
import pandas as pd

df = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [3]:
df['stroke'].value_counts()

stroke
0    4861
1     249
Name: count, dtype: int64

In [4]:
df['gender'].value_counts()

gender
Female    2994
Male      2115
Other        1
Name: count, dtype: int64

In [5]:
import numpy as np


n_rows = len(df)
n_to_change = int(n_rows * 0.3)

indices_to_change = np.random.choice(df.index, size=n_to_change, replace=False)

lowercase_map = {
    'Male': 'male',
    'Female': 'female',
}

df.loc[indices_to_change, 'gender'] = df.loc[indices_to_change, 'gender'].map(lowercase_map)

df['gender'].value_counts()

gender
Female    2096
Male      1480
female     898
male       635
Other        1
Name: count, dtype: int64

In [6]:
df['stroke'].value_counts()

stroke
0    4861
1     249
Name: count, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split


df_remaining, df_sample_25 = train_test_split(
    df,
    test_size=0.25,
    stratify=df['stroke'],
    random_state=42
)

df_remaining = df_remaining.reset_index(drop=True)
df_sample_25 = df_sample_25.reset_index(drop=True)

df_sample_25.to_csv('healthcare-stroke-data-test.csv', index=False)
df_remaining.to_csv('healthcare-stroke-data-train.csv', index=False)

In [8]:
df_2 = pd.read_csv('healthcare-stroke-data-test.csv')

In [9]:
df_2['stroke'].value_counts()

stroke
0    1216
1      62
Name: count, dtype: int64

In [10]:
df_3 = pd.read_csv('healthcare-stroke-data-train.csv')

In [11]:
df_3['stroke'].value_counts()

stroke
0    3645
1     187
Name: count, dtype: int64

In [12]:
df_3['gender'].value_counts()

gender
Female    1562
Male      1129
female     680
male       460
Other        1
Name: count, dtype: int64

In [13]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1278 entries, 0 to 1277
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1278 non-null   int64
 1   gender             1278 non-null   object
 2   age                1278 non-null   float64
 3   hypertension       1278 non-null   int64
 4   heart_disease      1278 non-null   int64
 5   ever_married       1278 non-null   object
 6   work_type          1278 non-null   object
 7   Residence_type     1278 non-null   object
 8   avg_glucose_level  1278 non-null   float64
 9   bmi                1235 non-null   float64
 10  smoking_status     1278 non-null   object
 11  stroke             1278 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 119.9+ KB